.color-picker {
  display: flex;
  height: 28px;

  &__watch {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px #444;
    cursor: pointer;
    flex: 1;
    display: flex;
  }

  &__color {
    border-radius: 2px;
    flex: 1;
    margin: 3px;
  }

  &__popover {
    position: absolute;
    z-index: 2;
  }

  &__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
