.root{
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  position: relative;
}

.mouse {
  position:fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 2px 4px;
  font-size: 12px;
}

.object{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: bisque;
}